@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-50 text-black antialiased font-sans selection:bg-brand-300 selection:text-black;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-brand-200 rounded-full border-[4px] border-solid border-brand-50 bg-clip-padding hover:bg-brand-300;
  }
}

.math-display {
  @apply overflow-x-auto py-4 px-2;
}

.katex-display {
  @apply overflow-x-auto;
}
